:root {
  --cta-sm-size: 14.5px;
  --palette-grey-600: #aab1cc4d;
  --4xl-letter-spacing: -.73px;
  --palette-grey-800: #45474d;
  --cta-sm-letter-spacing: .11px;
  --theme-surface-surface-container-high: #eff2f7;
  --palette-grey-400: #b7bfd9;
  --5xl-size: 54px;
  --theme-button-states-hovered: rgba(33, 34, 38, .04);
  --breakpoint-xs: 425px;
  --xs-size: 12.5px;
  --theme-outlined-on-outlined: #121317;
  --3xl-line-height: 33.92px;
  --palette-grey-1000-rgb: 33, 34, 38;
  --icon-size-2xl: 56px;
  --theme-surface-on-surface: #121317;
  --theme-inverse-surface-overlay: rgba(18, 19, 23, .01);
  --breakpoint-max: 1600px;
  --theme-button-states-primary-pressed: rgba(230, 234, 240, .12);
  --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
  --theme-primary-on-primary: #fff;
  --theme-text-link-states-disabled: #6a6a71;
  --icon-size-8xl: 104px;
  --md-line-height: 26px;
  --md-letter-spacing: -.05px;
  --palette-blue-600: #3279f9;
  --palette-grey-50: #e6eaf0;
  --space-xl: 36px;
  --breakpoint-xl: 1600px;
  --theme-tonal-tonal: #f8f9fc;
  --theme-button-states-pressed: rgba(33, 34, 38, .06);
  --3xl-size: 32px;
  --palette-grey-200: #cdd4dc;
  --palette-grey-20: #eff2f7;
  --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
  --palette-grey-0-rgb: 255, 255, 255;
  --base-size: 17.5px;
  --9xl-line-height: 145.04px;
  --theme-button-states-protected-enabled: #f8f9fc;
  --theme-outline-outline-variant: #2122260f;
  --theme-outlined-outlined: ;
  --shape-corner-lg: 24px;
  --cta-letter-spacing: .18px;
  --theme-button-states-tonal-enabled: #f8f9fc;
  --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
  --landing-main-text-line-height: 72.04px;
  --page-margin: 72px;
  --theme-surface-transparent: rgba(255, 255, 255, 0);
  --xl-letter-spacing: -.07px;
  --6xl-line-height: 72px;
  --theme-surface-on-surface-variant: #45474d;
  --space-2xl: 48px;
  --6xl-letter-spacing: -1.44px;
  --theme-inverse-outline-variant: rgba(230, 234, 240, .06);
  --cta-size: 17.5px;
  --theme-text-link-states-focused: #18191d;
  --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
  --divider: #2122260f;
  --theme-tonal-on-tonal: #121317;
  --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);
  --theme-surface-surface-container-higher: #e6eaf0;
  --sm-line-height: 21.02px;
  --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
  --shape-corner-xs: 4px;
  --sm-size: 14.5px;
  --palette-grey-50-20: #414347;
  --palette-grey-10: #f8f9fc;
  --theme-button-states-primary-enabled: #121317;
  --landing-main-text-size: 72px;
  --theme-surface-overlay-high: rgba(255, 255, 255, .24);
  --ease-in-circ: cubic-bezier(.6, .04, .98, .335);
  --shape-corner-rounded: 9999px;
  --palette-grey-600-rgb: 170, 177, 204;
  --theme-button-states-tonal-disabled: #f8f9fc;
  --nav-height: 52px;
  --9xl-size: 148px;
  --grid-columns: 12;
  --theme-text-link-states-enabled: #45474d;
  --icon-size-4xl: 72px;
  --2xl-letter-spacing: -.1px;
  --theme-text-on-text: #121317;
  --landing-main-text-letter-spacing: -1.44px;
  --palette-grey-1200: #121317;
  --theme-surface-overlay-low: rgba(255, 255, 255, .12);
  --icon-size-6xl: 88px;
  --3xl-letter-spacing: -.15px;
  --cta-sm-line-height: 21.02px;
  --theme-surface-inverse-surface: #121317;
  --theme-outline-inverse-outline-variant: #e6eaf00f;
  --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
  --6xl-size: 72px;
  --theme-inverse-surface: #121317;
  --space-none: 0px;
  --icon-size-10xl: 120px;
  --icon-size-9xl: 112;
  --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
  --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
  --7xl-size: 98px;
  --theme-surface-surface-container: #f8f9fc;
  --palette-grey-15: #f0f1f5;
  --theme-surface-inverse-on-surface-variant: #b2bbc5;
  --theme-surface-overlay: rgba(255, 255, 255, .95);
  --space-7xl: 180px;
  --7xl-line-height: 82.04px;
  --theme-protected-protected: #f8f9fc;
  --lg-letter-spacing: -.08px;
  --ease-out-back: cubic-bezier(.34, 1.85, .64, 1);
  --sm-letter-spacing: .16px;
  --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
  --base-line-height: 25.38px;
  --theme-inverse-surface-overlay-highest: rgba(18, 19, 23, .95);
  --base-letter-spacing: .18px;
  --palette-grey-100: #e1e6ec;
  --7xl-letter-spacing: -1.8px;
  --palette-grey-1100: #18191d;
  --icon-size-xl: 48px;
  --theme-protected-on-protected: #121317;
  --grid-gutter-sm: 56px;
  --space-5xl: 88px;
  --8xl-line-height: 121.52px;
  --theme-nav-button-hover: rgba(183, 191, 217, .2);
  --icon-size-5xl: 80px;
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --palette-grey-400-rgb: 183, 191, 217;
  --theme-outline: rgba(33, 34, 38, .12);
  --lg-line-height: 24.64px;
  --theme-button-states-focused: rgba(33, 34, 38, .12);
  --4xl-size: 42px;
  --palette-grey-1200-rgb: 18, 19, 23;
  --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
  --shape-corner-md: 16px;
  --xs-line-height: 15.5px;
  --theme-text-text: ;
  --theme-secondary-button: rgba(183, 191, 217, .1);
  --4xl-line-height: 43.68px;
  --palette-grey-50-rgb: 230, 234, 240;
  --theme-primary-primary: #121317;
  --theme-button-states-primary-on-disabled: rgba(33, 34, 38, .2);
  --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
  --breakpoint-lg: 1440px;
  --palette-grey-1000-12: #dedfe2;
  --theme-button-secondary-hover: #f0f1f5;
  --2xl-line-height: 30.24px;
  --ease-out-circ: cubic-bezier(.075, .82, .165, 1);
  --theme-surface-overlay-highest: rgba(255, 255, 255, .95);
  --5xl-letter-spacing: -.95px;
  --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
  --theme-outline-variant: rgba(33, 34, 38, .06);
  --palette-grey-300: #b2bbc5;
  --space-4xl: 80px;
  --icon-size-lg: 36px;
  --theme-button-states-primary-focused: rgba(230, 234, 240, .2);
  --lg-size: 22px;
  --theme-button-states-disabled: #e1e6ec;
  --space-lg: 24px;
  --5xl-line-height: 56.16px;
  --space-6xl: 120px;
  --theme-surface-inverse-on-surface: #f8f9fc;
  --theme-surface-surface: #fff;
  --theme-button-states-protected-hovered: #eff2f7;
  --8xl-letter-spacing: -2.48px;
  --space-xs: 4px;
  --theme-text-link-states-hovered: #212226;
  --shape-corner-sm: 8px;
  --md-size: 20px;
  --theme-text-link-states-pressed: #212226;
  --2xl-size: 28px;
  --icon-size-7xl: 96px;
  --breakpoint-md: 1024px;
  --theme-inverse-outline: rgba(230, 234, 240, .12);
  --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
  --cta-line-height: 25.38px;
  --xs-letter-spacing: .11px;
  --ease-in-cubic: cubic-bezier(.55, .055, .675, .19);
  --theme-button-secondary-inverse-hover: rgba(170, 177, 204, .3);
  --palette-grey-900: #2f3034;
  --xl-line-height: 25.92px;
  --theme-inverse-surface-overlay-high: rgba(18, 19, 23, .24);
  --icon-size-3xl: 64px;
  --space-md: 16px;
  --theme-inverse-surface-overlay-higher: rgba(18, 19, 23, .72);
  --theme-button-states-primary-disabled: #f8f9fc;
  --xl-size: 24px;
  --icon-size-md: 24px;
  --8xl-size: 124px;
  --theme-surface-surface-container-highest: #e1e6ec;
  --theme-button-states-protected-disabled: #e1e6ec;
  --space-3xl: 60px;
  --theme-nav-button: rgba(183, 191, 217, .09);
  --9xl-letter-spacing: -2.96px;
  --theme-button-states-primary-hovered: #2f3034;
  --palette-grey-1000: #212226;
  --icon-size-xs: 12px;
  --theme-button-states-disabled-transparent: rgba(230, 234, 240, 0);
  --breakpoint-sm: 767px;
  --shape-corner-2xl: 48px;
  --theme-button-states-on-disabled: #6a6a71;
  --palette-grey-0: #fff;
  --theme-surface-overlay-higher: rgba(255, 255, 255, .72);
  --icon-size-sm: 18px;
  --grid-gutter: 48px;
  --space-sm: 8px;
  --theme-button-states-outlined-enabled: ;
  --shape-corner-xl: 36px;
}
