:root {
  --color-keyboard-focus: 11 97 205;
  --header-height: 112.7px;
  --tw-ring-shadow: 0 0 #0000;
  --text-2xl: 1.5rem;
  --color-base-highlight: 255 221 191;
  --text-3xs: 0.625rem;
  --buttons-shadow-horizontal-offset: 0px;
  --animation-smooth: .7s cubic-bezier(.7, 0, .3, 1);
  --color-highlight: 255 221 191;
  --text-h2: 2.25rem;
  --text-7xl: 4.5rem;
  --text-lg: 1.125rem;
  --sp-96: 24rem;
  --font-heading-style: normal;
  --font-button-size: clamp(0.875rem, 0.8115rem + 0.1587vw, 1.0rem);
  --text-h6: 1rem;
  --fluid-lg-to-2xl: clamp(1.125rem, .9722rem + .4444vw, 1.5rem);
  --transform-logical: 1;
  --animation-short: .2s cubic-bezier(.7, 0, .3, 1);
  --color-sale-tag-text: 255 255 255;
  --card-shadow-opacity: 0.1;
  --tw-border-spacing-x: 0;
  --buttons-border-opacity: 1.0;
  --color-red-200: 254 202 202;
  --sp-15: 3.875rem;
  --motion-translateY: 0px;
  --text-h4: 1.5rem;
  --color-price: 23 23 23;
  --title-xl: clamp(5rem, 6.737vw, 8rem);
  --fluid-base-to-2xl: clamp(1.0rem, .746rem + .6349vw, 1.5rem);
  --font-button-family: Inter, sans-serif;
  --fluid-2xl-to-4xl: clamp(1.5rem, .6307rem + 1.3636vw, 2.25rem);
  --color-placeholder: 250 250 250;
  --fluid-xs-to-sm: clamp(0.75rem, .7297rem + .1013vw, 0.875rem);
  --tw-ring-color: rgba(59, 130, 246, .5);
  --grid-gap: clamp(40px, 20vw, 60px);
  --fluid-base-to-xl: clamp(1.0rem, .873rem + .3175vw, 1.25rem);
  --inputs-border-width: 0px;
  --font-heading-line-height: 1;
  --color-base-button: 23 23 23;
  --color-base-button-text: 255 255 255;
  --sp-56: 14rem;
  --inputs-border-opacity: 0.65;
  --color-info-text: 180 83 9;
  --sp-18: 4.5rem;
  --tw-rotate: 0;
  --font-body-family: Inter, sans-serif;
  --buttons-radius: 3.75rem;
  --page-container: min(calc(100vw - 3rem * 2), max(1900px, 1280px));
  --card-border-opacity: 0.0;
  --sp-28: 7rem;
  --tw-ring-offset-color: #fff;
  --buttons-shadow-opacity: 0.0;
  --rounded-input: 0.375rem;
  --sp-9: 2.25rem;
  --page-padding: 3rem;
  --fluid-xl-to-3xl: clamp(1.25rem, .4966rem + 1.1818vw, 1.875rem);
  --color-base-background: 255 255 255;
  --text-h5: 1.25rem;
  --card-shadow-vertical-offset: 0.0rem;
  --color-base-text: 23 23 23;
  --font-bold: 700;
  --sp-4: 1rem;
  --fluid-sm-to-base: clamp(0.875rem, .8115rem + .1587vw, 1.0rem);
  --font-product-size: clamp(1.0rem, 0.873rem + 0.3175vw, 1.25rem);
  --color-background: 255 255 255;
  --mobile-dock-height: 0.0px;
  --tw-ring-offset-width: 0px;
  --sp-2d5: 0.625rem;
  --text-2xs: 0.6875rem;
  --page-width: 1900px;
  --sp-40: 10rem;
  --text-6xl: 3.75rem;
  --color-button-text: 255 255 255;
  --tw-shadow-colored: 0 0 #0000;
  --title-md: clamp(2rem, 3.368vw, 4rem);
  --sp-5d5: 1.375rem;
  --color-drawer-background: 255 255 255;
  --color-border-dark: 23 23 23/ .4;
  --font-product-weight: 500;
  --font-normal: 400;
  --color-button-gradient: #171717;
  --tw-skew-y: 0;
  --color-button-background: 23 23 23;
  --card-border-width: 0.0rem;
  --text-h0: 4rem;
  --sp-1d5: 0.375rem;
  --text-h3: 1.875rem;
  --text-xl: 1.25rem;
  --sp-2: 0.5rem;
  --color-error-text: 225 29 72;
  --color-button-border: 23 23 23;
  --sp-6d5: 1.625rem;
  --text-2sm: 0.8125rem;
  --sticky-header-height: 96.7px;
  --sp-20: 5rem;
  --buttons-border-width: 2px;
  --color-drawer-button-background: 23 23 23;
  --tw-ring-offset-shadow: 0 0 #0000;
  --font-medium: 500;
  --color-error-background: 255 241 242;
  --sp-10: 2.5rem;
  --icon-weight: 1.5px;
  --sp-68: 17rem;
  --color-border-light: 23 23 23/ .06;
  --card-shadow-horizontal-offset: 0.0rem;
  --color-drawer-overlay: 23 23 23;
  --animation-primary: .5s cubic-bezier(.3, 1, .3, 1);
  --color-success-background: 247 254 231;
  --sp-9d5: 2.375rem;
  --sp-11: 2.75rem;
  --sp-8: 2rem;
  --sp-6: 1.5rem;
  --border-radius: clamp(1rem, 1.578vw, 1.875rem);
  --color-red-300: 252 165 165;
  --font-navigation-family: Inter, sans-serif;
  --tw-ring-inset: inset;
  --color-base-button-gradient: #171717;
  --color-drawer-button-text: 255 255 255;
  --sp-48: 12rem;
  --border-radius-medium: calc(clamp(1em, 1.7vw, 1.7em)*1.2);
  --inputs-radius: 0.375rem;
  --sp-44: 11rem;
  --sp-36: 9rem;
  --input-height: 3.25rem;
  --font-product-family: Inter, sans-serif;
  --color-sale-tag: 225 29 72;
  --sp-24: 6rem;
  --sp-3d5: 0.875rem;
  --color-shadow: 168 232 226;
  --color-rating: 245 158 11;
  --sp-14: 3.5rem;
  --transform-origin-end: right;
  --tw-scale-y: 1;
  --text-8xl: 6.0rem;
  --sp-7: 1.75rem;
  --transform-origin-start: left;
  --card-radius: clamp(0.625rem, 1.053vw, 1.25rem);
  --sp-1: 0.25rem;
  --text-sm: 0.875rem;
  --tw-translate-y: 0;
  --sp-3: 0.75rem;
  --sp-10d5: 2.625rem;
  --animation-fast: .3s cubic-bezier(.7, 0, .3, 1);
  --font-navigation-size: clamp(0.875rem, 0.748rem + 0.3174vw, 1.125rem);
  --font-body-style: normal;
  --color-info-background: 255 251 235;
  --font-body-letter-spacing: 0.0em;
  --sp-72: 18rem;
  --font-body-weight: 400;
  --screen-height: 100vh;
  --topbar-height: 3rem;
  --border-radius-small: calc(clamp(1em, 1.7vw, 1.7em)/2);
  --tw-skew-x: 0;
  --sp-7d5: 1.875rem;
  --font-heading-letter-spacing: -0.03em;
  --sp-64: 16rem;
  --text-4xl: 2.25rem;
  --sp-60: 15rem;
  --animation-nav: .5s cubic-bezier(.6, 0, .4, 1);
  --title-sm: clamp(1.5rem, 2.526vw, 3.0rem);
  --fluid-sm-to-lg: clamp(0.875rem, .748rem + .3174vw, 1.125rem);
  --color-sale-price: 225 29 72;
  --sp-32: 8rem;
  --rounded-button: 3.75rem;
  --tw-shadow: 0 0 #0000;
  --tw-translate-x: 0;
  --sp-100: 32rem;
  --color-border: 23 23 23/ .1;
  --buttons-shadow-vertical-offset: 0px;
  --sp-80: 20rem;
  --font-heading-family: Inter, sans-serif;
  --rounded-full: calc(infinity * 1px);
  --text-5xl: 3.0rem;
  --rounded-card: clamp(0.625rem, 1.053vw, 1.25rem);
  --font-navigation-weight: 500;
  --text-3xl: 1.875rem;
  --text-xs: 0.75rem;
  --sp-12: 3rem;
  --rounded-block: clamp(0.625rem, 1.053vw, 1.25rem);
  --color-foreground: 23 23 23;
  --tw-scale-x: 1;
  --color-success-text: 77 124 15;
  --color-background-2: 255 255 255;
  --tw-border-spacing-y: 0;
  --gap-padding: 3rem;
  --sp-13: 3.25rem;
  --text-h1: 3.5rem;
  --font-heading-weight: 700;
  --sp-4d5: 1.125rem;
  --font-body-line-height: 1.2;
  --sp-23: 5.625rem;
  --title-lg: clamp(3rem, 4.73vw, 5.625rem);
  --input-padding-inline: 1.625rem;
  --sp-0d5: 0.125rem;
  --ratio-percent: 56.25%;
  --color-drawer-text: 23 23 23;
  --text-base: 1.0rem;
  --font-button-weight: 500;
  --sp-52: 13rem;
  --sp-8d5: 2.125rem;
  --sp-5: 1.25rem;
  --sp-16: 4rem;
  --color-drawer-button-gradient: #171717;
}
